<nav class="nav_menu">
    <ul>
      <!-- About, team and Contact are made from Add page format -->
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>