<nav class="nav_menu nav_menu_success">
    <ul>
      <li><a href="/addpage">Add Page</a></li>
      <li><a href="/editpage">Edit pages</a></li>
      <li><a href="/logoutsuccess">Logout</a></li>
    </ul>
  </nav>