<%-include("layouts/header")%>

<%-include("layouts/navloginsuccess")%>

<main>
    <h1>Page Added</h1>
    <br/>
    <h2>You have successfuly created a new page</h2>
</main>

<%-include("layouts/footer")%>
