<%-include("layouts/header")%>

<%-include("layouts/navloginsuccess")%>

<main>
    <h1>Page Deleted</h1>
    <br/>
    <h2>You have successfuly deleted the page</h2>
</main>

<%-include("layouts/footer")%>